
:root {
  --primary: #8c54ff;
  --secondary: #31343D;
  --tertiary: #b12704;
  --light: #fafafa;
  --dark: #799FBA;
  --darker: #1F3B60;
  --alpha: rgba(255,255,255,.7);
  --error: rgb(228, 46, 1);
  --spacing-one: calc(1rem * 0.5);
  --spacing-two: calc(1rem);
  --spacing-five: calc(2.5rem);
}


html,
body {
  min-height: 1050px;
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  padding: 0;
  font-weight: 600;
  line-height: 1.5;
  font-size: 18px;
  letter-spacing: 0.1em;
  background-color: rgb(175, 170, 154);
  color: var(--light);
  font-family: 'Open Sans', sans-serif;
}

.container-fluid {
  background-image: url("https://res.cloudinary.com/worldpackers/image/upload/c_fill,f_auto,q_auto,w_1024/v1/guides/article_cover/c7c4elegquhjubd1xmyb");
  background-size: cover;
  background-attachment: fixed;
  height: 100%;
  padding-left: 0px !important;
  padding-right: 0px !important;
}

section {
  width: 100%;
}
h1 {
  font-size: 60px;
  margin: 50px 20px;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
section h1 {
  text-align: center;
  color: black;
}
p {
  text-align: center;
  background-color: white;
  opacity: 65%;
  width: 700px;
  position: absolute;
    top: 30%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
  font-size: 28px;
  color: black;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.btn-primary {
  color: rgb(2, 2, 2) !important;
  background-color: #beecea !important;
  margin: auto;
  width: 40%;
  border-color: #dae1ed ip !important;
}
.create-trip-btn {
  color: rgb(2, 2, 2) !important;
  background-color: #4eacac83 !important;
  margin: auto;
  width: 20%;
  border-color: #dae1ed ip !important;
  margin-top: 15px;
}
.login-btn-custom {
  background-color: #9bb4c779 !important;
  margin-left: 15px;
  padding: 2px 15px !important;
}
.login-page {
  padding-top: 100px;
  justify-content: center;
}
.login-card-custom {
  width: 50%;
  margin: auto;
}
.bg-primary {
  --bs-bg-opacity: 1;
  background-color: white !important;
  
}
.create-trip {
  margin-left: 15%;
  margin-right: 10%;

}
.create-trip-box {
  margin-top: 60px;
}
.my-trip-box {
  justify-content: center;
  padding-top: 25px;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.my-trip-container {
  background-color: #c8ccb098;
  padding: 25px;
}
.my-trip-title {
  text-align: center;
  padding: 20px;
  background-color: #978164;
}
.individual-trip {
  background-color: #e8edee9c !important;
  margin-top: 20px;
}
.individual-trip-name {
  background-color: #c8ccb0 !important;
  display: flex;
  justify-content: center ;
}
header {
  height: 100px;
 background-color: white;
}
.btns {
  position: absolute;
  right: 2%;
}
.home-text {
  text-align: center;
  border-radius: 51%;
  padding: 66px;
}
.card {
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: #ffffff75 !important;
  background-clip: border-box;
  border: 1px solid rgba(0,0,0,.125);
  border-radius: .25rem;
}

header h1 {
  font-size: 70px;
position: absolute;
color: black;
left: 2%;
font-family: emoji;
font-weight: 900;
}

nav {
  position: relative;
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-size: 2.5rem;
  margin: 30px 20px;
}

nav li {
  list-style: none;
  cursor: pointer;
  color: black;
  margin: 0 50px;
}

footer {
  height: 100px;
  justify-content: center;
  background-color: rgb(243 243 243 / 92%);
 
}
footer h1 {
  font-size: 55px;
  font-family: emoji;
}
.btn-light {
  color: #000;
  background-color: #c0d8f0 !important;
  border-color: #f8f9fa;
}

.flex-row {
  display: flex;
  flex-wrap: wrap;
}

.space-between {
  justify-content: space-between;
}

.flex-end {
  justify-content: flex-end;
}

.flex-center {
  justify-content: center;
}
.message{
  top: 19px;
  position: absolute;
  right: 2%;
}
.nav-message {
  background-color: #fafafa;
  padding: 10px;
  color: #201f1e;
  font-size: 30px;
  font-family: emoji;

}
.welcome-text {
  font-family: emoji;
  font-size: 80px;
}

/* expense page*/

.expenseContainer {
  width: 60%;
  margin: auto;
  background-color: #c8ccb067;
}
.add-expense-btn {
  display: flex;
  align-items: center;
}
.expenseText {
 text-align: center;
 background-color: #c8ccb0;
 width: 60%;
 margin: auto;
}
.expenseListItems{
  margin: 20px;
}
.totalexpenseText {
  text-align: center;
  background-color: #c8ccb0;
  width: 60%;
  margin: auto;
 }
 .userContainer {
  width: 60%;
  margin: auto;
  background-color: #c8ccb067;
  margin-bottom: 50px;
}
.totalexpenseContainer {
  width: 60%;
  margin: auto;
  margin-bottom: 50px;
  background-color: #c8ccb067;
}


@media only screen and (max-width: 900px) {
  nav li{
    
    font-size: 2.3rem;
  }
  header h1 {
    display: block;
    margin: 5px 10px;
    height: 15px;
    width: 100%;
    text-align: center;
    font-size: 2.3rem;
  }
  
}
Carousel{
  background-image: './assets/slide.jpg';
}
